<app-generic-list [list]="movies">
  <ng-container loading> This is a loading ... </ng-container>
  <ng-container empty>
    There are <b>NO</b> content to display ...
  </ng-container>

  <ng-container content>
    <div
      *ngFor="let movie of movies; let index = index"
      class="movie-container"
    >
      <div>
        <h2>{{ index }}) {{ movie.title | uppercase }}</h2>
        <button style="margin-left: 1rem" (click)="remove(index)">
          Remove
        </button>
      </div>
      <div>{{ movie.releaseDate | date: "dd-MMMM-yyyy" | uppercase }}</div>
      <div>{{ movie.price | currency }}</div>
    </div>
  </ng-container>
</app-generic-list>
